*{
  font-family:'Helvetica Neue',Helvetica, sans-serif;
  font-size:14px;
  margin:0;
}
a{
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}
.container{
  width:auto;
  display:block;
  margin:0 auto;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
}
.header{
  padding:20px 20px 18px 20px;
  background:#673ab7;
  color:#fff;
  position: fixed;
  width: 100%;
  top:20px;
  height: 50px;
}
.header h2{
  font-size:16px;
  line-height:15px;
  display:inline-block;
}
.header a{
  display:inline-block;
  float:right;
  background:#a1a5a2;
  font-size:15px;
  line-height:20px;
  padding:3px 6px;
  margin:5px;
  border-radius:2px;
}
.chat-box, .enter-message{
  background:#ECECEC;
//   padding:0 20px;
  color:#a1a1a1;
  bottom:120px;
  width:100%

}
.chat-box .message-box{
//   padding:18px 0 10px;
  clear:both;
}
.chat-box{
    margin-bottom: 20%;
    margin-top: 15%;
}
.message-box .picture{
  float:left;
  width:50px;
  display:block;
  padding-right:10px;
}
.picture img{
  width:43px;
  height:48px;
  border-radius:5px;
}
.picture span{
  font-weight:bold;
  font-size:12px;
  clear:both;
  display:block;
  text-align:center;
  margin-top:3px;
}
.message{
  background:#fff;
  display:inline-block;
  padding:5px;
  width:274px;
  border-radius:5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
//   position:relative;
}
.message:before{
  content:"";
  position:absolute;
  display:block;
}